// COLORS
$bg-main-color: #1d4c9a;
$bg-content-section: #f5f5f5;
$separator-color: #ff3859;
$box-text-color:#808080;
$paragraph-color: #7c8082;

// FONTS
$font-stack: 'Rubik', sans-serif;

// GENERALS
* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-weight: 300;
  margin: 0 auto;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,h2 {
  font-weight: 300;
}

ul {
  list-style-type: none;
}
// GRID
[class*="col-"] {
  width: 100%;
  float:left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;} 
.col-offset-1 {margin-left: 8.33%;} 
.col-offset-2 {margin-left: 16.66%;} 
.col-offset-3 {margin-left: 25%;} 
.col-offset-4 {margin-left: 33.33%;} 
.col-offset-5 {margin-left: 41.66%;} 
.col-offset-6 {margin-left: 50%;} 
.col-offset-7 {margin-left: 58.33%;} 
.col-offset-8 {margin-left: 66.66%;} 
.col-offset-9 {margin-left: 75%;} 
.col-offset-10 {margin-left: 83.33%;} 
.col-offset-11 {margin-left: 91.66%;}

.container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  width: 100%;
  .logo {
    text-align: left;
  }
}

.main-container {
  background-color: $bg-main-color;
  h1 {
    color: #fff;
    padding-top: 51px;
    font-size: 40px;
    margin: 0;
  }
  .col-12 p {
    color: #fff;
  }
}

.article-section {
  .col-12 {
    > h1 {
      margin: 0;
      padding-top: 59px;
      font-size: 40px;
      line-height: 40px;
      &:last-child {
        padding-top: 6px;
        font-size: 34px;
      }
    }
    p {
      color: $paragraph-color;
      font-size: 16px;
    }
    &:last-child {
      font-size: 33px;
      padding-top: 14px;
    }
  }
}

.article-section {
  .blocks {
    padding-bottom: 45px;
  }
}

.row:before,
.row:after {
  content:"";
  display: table ;
  clear: both;
}


.blocks {
  display: inline-block;
  &:after {
    content: "";
    display: block;
  }
}

.block {
  background-color: lightblue;
}

.outer-block {
  background-color: #fff;
  margin: 10px;
  border: 1px solid;
}

// .outer-block {
//   background-color: #fff;
//   margin: 10px;
//   width: 330px;
//   max-width: 330px;
//   display: inline-block;
//   overflow-x: hidden;
//   word-wrap: break-word;
//   overflow-y: hidden;
//   height: 230px;
  
//   h3 {
//     margin: 0;
//     padding-top: 48px;
//     line-height: 0;
//   }
//   p {
//     color: $box-text-color;
//     padding: 15px;
//   }
// }


.ball-separator:after {
  width: 30px;
  height: 30px;
  content: "";
  display: block;
  background-color: $separator-color;
  border-radius: 50%;
  bottom: -15px;
  position: relative;
  margin: 0 auto;
}

.article-section {
  background-color: $bg-content-section; 
}


.eqWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
}

.eq {
  padding: 10px;
  background: yellow;
  border: 1px solid red;
}

.main-boxes {
  justify-content: space-around;
  .equalHM {
  width: 40%;
  max-width: 330px;
  }
}



.equalHMRWrap {
	justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.equalHMVWrap {
	flex-wrap: wrap;
}


@media(min-width: 992px) and (max-width: 1199px) {

}

@media(min-width: 768px) and (max-width: 991px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .col-offset-1 {margin-left: 0;} 
}

@media(max-width: 767px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .col-offset-1 {margin-left: 0;}

  .main-boxes {
    -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  }

  .equalHM {
      -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  }

  .logo img {
    display: inline-block;
  }

}