@import "normalize";

// COLORS
$bg-main-color: #1d4c9a;
$bg-content-section: #f5f5f5;
$box-text-color:#808080;
$paragraph-color: #7c8082;
$separator-color: #ff3859;

// FONTS
$font-stack: 'Rubik', sans-serif;

// GENERALS
* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  font-weight: 300;
  margin: 0 auto;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  width: 100%;
}

.main-container {
  background-color: $bg-main-color;
  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    padding-top: 51px;
  }
  p {
    color: #fff;
  }
  .main-boxes {
    p {
    color: #000;
    }
  }
}

.main-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  .boxes {
    margin: 10px;
    min-height: 225px;
    width: 25%;
    img {
      text-align: center;
      margin: 0 auto;
    }
  }
  .boxes--content {
    background-color: #fff;
    padding: 0 20px;
  }
}

.ball-separator:after {
  background-color: $separator-color;
  border-radius: 50%;
  bottom: -15px;
  content: "";
  display: block;
  height: 30px;
  margin: 0 auto;
  position: relative;
  width: 30px;
}

.article-section {
  background-color: $bg-content-section; 
  padding-bottom: 40px;
  .container__heading--h1 {
    font-weight: 300;
    font-size: 40px;
    margin-top: 0;
    padding-top: 1em;
  }
  .container__heading--h2 {
    font-weight: 300;
  }      
}

.boxes {
  .subheading {
    font-weight: 300;
  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  header {
    img {
      padding: 0 10px;
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {

    .main-boxes {
      .boxes {
        min-height: 225px;
        min-width: 330px;
      }
  }

  .main-boxes {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .boxes {
      align-self: center;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
 

  .main-boxes {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .boxes {
      align-self: center;
    }
  }
    .main-boxes {
    .boxes {
      min-height: 225px;
      min-width: 330px;
    }
  }
  .main-container {
    .boxes--content-text {
      padding: 0 20px;
    }
  }
}

@media (max-width: 479px) {

  header {
    img {
      display: inline-block;
    }
  }
 
  .main-boxes {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    .boxes {
      align-self: center;
    }
  }

    .main-boxes {
    .boxes {
      min-height: 225px;
      min-width: 90%;
    }
  }

  .main-container {
    .boxes--content-text {
      padding: 0 20px;
    }
  }
}